@import "tailwindcss";

@theme {
  /* Paleta base de Lake Estudio */
  --color-lake-pink: #FFDFEA;
  --color-lake-lilac: #DAB6D5;
  --color-lake-matcha: #C6D8A4;
  --color-lake-blue: #B9D4E4;
  --color-lake-white: #FFFDFB;
  --color-lake-dark: #2C1E16;

  /* Bordes extra redondeados para el estilo amigable */
  --radius-4xl: 2rem;
  --radius-5xl: 3rem;
}